/* Page styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 14px/1.4 Arial, Helvetica, sans-serif;
}

.skrollr-desktop body {
    height:100% !important;
}

#skrollr-body {
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Styles for this example */

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display: none !important;
}

.parallax-image-wrapper {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 80vh;
    top: -80vh;
}

.parallax-image {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    top:0;
}

.parallax-image.skrollable-between {
    display: block;
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

.gap {
    background: transparent center no-repeat;
    background-size: cover;
    height: 58vh;
}

.skrollr .gap {
    background: transparent !important;
}

/* End of scrollr styles */

/* Intro */

#page-intro h1 {
    text-align: center;
    color: #fff;
    font: normal 164px 'Futura', sans-serif;
    padding-top: 15vh;
}

@media (max-width: 800px) {
    #page-intro h1 {
        font-size: 42px;
        padding-top: 15vh;
    }
}

#page-intro .btn {
    color: #fff !important;
    display: block;
    margin: 40px auto;
    width: 200px;
    text-align: center;
    border: 1px solid #fff;
    padding: 18px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

/* About me */

.about-me {
    background-color: #fff;
    min-height: 40vh;
    text-align: center;
    color: #25373C;
    font-size: 18px;
}

@media (max-width: 800px) {
    .about-me {
        min-height: 20vh;
    }
}

.about-me h2 {
    font-size: 42px;
    font-weight: normal;
}

.about-me div {
    text-align: center;
    width: 35%;
    margin: 50px 10px;
    display: inline-block;
}

@media (max-width: 800px) {
    .about-me div {
        width: 45%;
        margin: 20px 0;
    }
}

.about-me div img {
    border-radius: 0%;
    width: 90%;
}

.about-me a.attribution {
    display: block;
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    width: 280px;
    margin: 50px auto 10px;
    opacity: 0.5;
}


/* Footer */

footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 0px 60px 55px;
    overflow: hidden;
}

/* Footer left */

footer .footer-left {
    float: left;
}

footer h3 {
    color: #5383d3;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

footer .footer-links {
    color: #95A4A9;
    margin: 22px 0 14px;
    padding: 0;
}

footer .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: #242424;
}

footer .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer right */

footer .footer-right {
    float: right;
    width: 100%;
}

header {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #357F9C;
    overflow: hidden;
}

header h1 {
    float: left;
    font: normal 24px/1.5 'Open Sans', sans-serif;
    color: #fff;
}

header a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;
}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;
    transition: 0.2s ease;
}

ul li a.active {
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}

ul li {
    display: inline-block;
}
